@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


:root{
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: width 2s, height 2s, transform 2s;
}

/* * {
  overflow-x: hidden;
} */
body {
  font-family: 'Red Hat Display', sans-serif;
  margin: 0;
  background-color: #13111d;
  color: #FFF;
  transition: width 2s, height 2s, transform 2s;
  width: 100vw;
  overflow-x: hidden;
}

input, label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
  color: #FFF;
}

form {
  padding: 1rem;
  border: 1px solid #CCC;
  width: 15rem;
  margin: 1rem auto;
}

/* automatically added by NavLink component */
.active {
  color: #EEBC32
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  
  25% {
    -webkit-transform: scale(10);
    transform: scale(10);
  }
  
  60% {
    -webkit-transform: scale(5);
    transform: scale(5);
  }
  
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  }
  
  @keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  
  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  
  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  }

  .bulge-on-hover {
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .bulge-on-hover:hover {
    animation: bulge 0.5s ease forwards;
  }
  
  @keyframes bulge {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .next-button {
    opacity: 0.5; 
    transition: opacity 0.3s ease; 
  }
  
  .next-button.active {
    opacity: 1.0; 
  }
  

  @keyframes bobbing {
    0%, 100% {
        transform: translateY(-1px);
    }
    50% {
        transform: translateY(9px);
    }
}

.bobbing-head {
    animation: bobbing 3.5s ease-in-out infinite;
}

/* styles.css */

.correct-glow {
  animation: correctGlow 1s ease-in-out;
}

@keyframes correctGlow {
  0% {
    box-shadow: 0 0 0px 0 rgba(0, 255, 0, 0);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(0, 255, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 0px 0 rgba(0, 255, 0, 0);
  }
}

.incorrect-glow {
  animation: incorrectGlow 1s ease-in-out;
}

@keyframes incorrectGlow {
  0% {
    box-shadow: 0 0 0px 0 rgba(255, 0, 0, 0);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 0px 0 rgba(255, 0, 0, 0);
  }
}

